@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway;
    font-weight: 700;
}

.welcome-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    overflow: hidden;
}

.content-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fly-in-text {
    list-style: none;
}

.fly-in-text li {
    display: inline-block;
    letter-spacing: -20px;
    margin-right: 20px;
    font-size: 4em;
    color: white;
    opacity: 1;
    transition: all 3s ease;
}

.fly-in-text li:nth-child(10) {
    margin-right: 0;
}

.enter-button {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: white;
    opacity: 1;
    margin-top: 30px;
    transition: all 1s ease 3s;
}

.content-hidden .fly-in-text li { opacity: 0; }
.content-hidden .fly-in-text li:nth-child(1) { transform: translate3d(100px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(2) { transform: translate3d(90px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(3) { transform: translate3d(8px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(4) { transform: translate3d(70px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(5) { transform: translate3d(-100px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(6) { transform: translate3d(50px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(7) { transform: translate3d(-10px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(8) { transform: translate3d(-70px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(9) { transform: translate3d(40px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(10) { transform: translate3d(-50px, 0, 0);}
.content-hidden .enter-button { opacity: 0; transform: translated3d(0, -30px, 0);}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #161616;
}

#title{
    font-size: 50px;
    font-weight: lighter;
    color: white;
}

#secondText{
    font-size: 25px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.438);
}

.container{
    width: 80%;
    margin: 0 auto;
}

.content p{
    color: rgba(255, 255, 255, 0.466);
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 200;
}

h1{
    position: absolute;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: lighter;
    color: white !important;
    margin: 20px;
}

.percent {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    height: 140px;
    width: 1px;
    margin: -60px 0 0 40px;
}

.fill{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: background 0.15s ease;
}